# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/
cypress/results/
cypress/.cache/

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Sistema
*.log
*.tmp
*.swp
